In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [2]:
df.head()

,Experiment Years,Is it working?,Number of working companies,Education Level,Top10 Universite?,Did person do internship with us?,Hired
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [3]:
improvement_mapping = {"Y": 1, "N": 0}

df["Hired"] = df["Hired"].map(improvement_mapping)
df["Is it working?"] = df["Is it working?"].map(improvement_mapping)
df["Top10 Universite?"] = df["Top10 Universite?"].map(improvement_mapping)
df["Did person do internship with us?"] = df["Did person do internship with us?"].map(improvement_mapping)
improvement_mapping_egitim = {"BS": 0, "MS": 1, "PhD": 2}
df["Education Level"] = df["Education Level"].map(improvement_mapping_egitim)
df.head()

,Experiment Years,Is it working?,Number of working companies,Education Level,Top10 Universite?,Did person do internship with us?,Hired
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [6]:
y = df["Hired"]
x = df.drop(["Hired"], axis =1)

In [9]:
x.head()

,Experiment Years,Is it working?,Number of working companies,Education Level,Top10 Universite?,Did person do internship with us?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [12]:
#We create our decision tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

In [13]:
# Now,time is prediction time.

print(clf.predict([[5, 1, 3, 0, 0, 0]]))

[1]

C:\Users\Public\anaconda\envs\tf\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [14]:
print (clf.predict([[2, 0, 7, 0, 1, 0]]))

[0]

C:\Users\Public\anaconda\envs\tf\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(